@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px;
  
}
.container{
    position: relative;
    width: 280px;
    height: 420px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0  10px  10px 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 30px 40px;
    
}
h3, .texto{
    font-family:"Montserrat", sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 20px;
}
h3{
    letter-spacing: 5px;
    padding-bottom: 20px;
}
h1{
    color:hsl(158, 36%, 37%);
    font-family: "Fraunces", serif;
    padding-bottom: 20px;
}

.perfume{
    color: #000;
    font-family: "Fraunces", serif;
    line-height: 30px;
    padding-bottom: 22px;
}
.texto{
    padding-bottom: 10px;
}
.valor_menor{
    font-family:"Montserrat", sans-serif;
    font-size: 11px;
    text-decoration: line-through;
    position: relative;
    top:26px;
    left: 145px;
}
img{
    width: 280px;
    height: 420px;
    border-radius: 10px 0 0 10px;
}
button{
    width: 105%;
    height: 40px;
    background-color:hsl(158, 36%, 37%);
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family:"Montserrat", sans-serif ;
    font-weight: 600;
    color: #fff;
}
button img{
    width: 15px;
    height: 15px;
    color: #fff;

}