*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 8%);
}

.container{
    background-color: hsl(0, 0%, 12%);
    color:  hsl(0, 0%, 100%);
    padding: 30px 70px 30px 70px;
    margin-top:12% ;
    border-radius: 8px;
}

img{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-left: 45px;
}

h2{
    font-weight: 200;
}

.txt-city, h2{
    line-height: 15px;
}

.txt-city{
    font-size: 12px;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}

.txt-menor{
    font-size: 11px;
    margin: 10px 0;
}

.container, #botoes{
    gap:10px;
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.btn-github, .btn-FM, .btn-linkedin,
.btn-twitter, .btn-insta{
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 11px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    
}
